<nav aria-label="breadcrumb">
  <ol class="breadcrumb">

    {{#if params.cat4}}
    <li class="breadcrumb-item"> <a href="#" q="{{params.cat1}}" breadcrumbs='1' endofTree='3' cat1="{{params.cat1}}" cat2="" cat3="" cat4="" pg="2" class="browseNavItem">{{params.cat1}}</a></li>
    <li class="breadcrumb-item"> <a href="#" q="{{params.cat2}}" breadcrumbs='1' endofTree='3' cat1="{{params.cat1}}" cat2="{{params.cat2}}" cat3="" cat4="" pg="2" class="browseNavItem">{{params.cat2}}</a></li>
    <li class="breadcrumb-item"> <a href="#" q="{{params.cat3}}" breadcrumbs='1' endofTree='3' cat1="{{params.cat1}}" cat2="{{params.cat2}}" cat3="{{params.cat3}}" cat4="" pg="2" class="browseNavItem">{{params.cat3}}</a></li>
    <li class="breadcrumb-item active" aria-current="page"> {{params.cat4}}</li>
    {{else if params.cat3}}
    <li class="breadcrumb-item"> <a href="#" q="{{params.cat1}}" breadcrumbs='1' endofTree='3' cat1="{{params.cat1}}" cat2="" cat3="" cat4="" pg="2" class="browseNavItem">{{params.cat1}}</a></li>
    <li class="breadcrumb-item"> <a href="#" q="{{params.cat2}}" breadcrumbs='1' endofTree='3' cat1="{{params.cat1}}" cat2="{{params.cat2}}" cat3="" cat4="" pg="2" class="browseNavItem">{{params.cat2}}</a></li>
    <li class="breadcrumb-item active" aria-current="page"> {{params.cat3}}</li>
    {{else if params.cat2}}
    <li class="breadcrumb-item"> <a href="#" q="{{params.cat1}}" breadcrumbs='1' endofTree='3' cat1="{{params.cat1}}" cat2="" cat3="" cat4="" pg="2" class="browseNavItem">{{params.cat1}}</a></li>
    <li class="breadcrumb-item active" aria-current="page"> {{params.cat2}}</li>
    {{else if params.cat1}}
    <li class="breadcrumb-item active" aria-current="page"> {{params.cat1}}</li>
    {{else}}
    
    {{/if}}
  </ol>
</nav>
{{#if navItems}}
    <ul class="list-group">
    {{#each navItems}}

        <a href="#" q="{{this.title}}" cat1="{{../params.cat1}}" cat2="{{../params.cat2}}" cat3="{{../params.cat3}}" cat4="{{../params.cat4}}" pg="{{this.pg}}" numdocs="{{this.numdocs}}" endofTree="{{this.endoftree}}" class="browseNavItem list-group-item list-group-item-action list-group-item-action">{{this.title}}</a>
    {{/each}}
    </ul>
{{/if}}
<!-- old static content:
<ul class="list-group">
  <a href="#" q="Watchtower" url="" class="browseNavItem list-group-item list-group-item-action">Watchtower</a>
  <a href="#" class="browseNavItem list-group-item list-group-item-action list-group-item-secondary">Awake</a>
  <a href="#" class="browseNavItem list-group-item list-group-item-action list-group-item-success">Books</a>
  <a href="#" class="browseNavItem list-group-item list-group-item-action list-group-item-danger">Letters</a>
  <a href="#" class="browseNavItem list-group-item list-group-item-action list-group-item-warning">Yearbooks</a>
</ul>
-->