<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
  <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
</head>

<header id="bootstrap-override">
  <link rel='stylesheet' href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.es6.js"></script>
 
    <!-- begin header -->
    <nav class="navbar navbar-expand-md navbar-light sticky-top bg-white border-bottom box-shadow "> <!-- original tags: navbar my-2 my-md-0 mr-md-3 -->
      <a class="navbar-brand font-weight-bold" href="/"> Watchtower Archives</a>
      <!-- for screens bigger than sm and smaller than sm -->
      <div id="searchbox" class="justify-content-center d-sm-none d-md-block container" style="margin-left:10px; margin-right:10px">
        <form class="form-inline row w-100" method='get' action='/search'>
          <div class="input-group w-100">
            {{#if query}}
            <input type="text" id="searchbarHeader" class="form-control col-12" value="{{query}}" name='q'>
            {{else}}
            <input type="text" id="searchbarHeader" class="form-control col-12" placeholder="Search" name='q'>
            {{/if}}
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit">
                <span class="img-search"></span>
              </button>
            </span>
          </div>
        </form>
      </div>
      <!-- searchbar for sm sized screens only -->
      <div id="searchbox" class="justify-content-center d-none d-sm-block d-md-none" style="margin-left:10px; margin-right:10px">
        <form class="form-inline w-100" method='get' action='/search'>
          <div class="input-group w-100">
            {{#if query}}
            <input type="text" class="form-control col-12" value="{{query}}" name='q'>
            {{else}}
            <input type="text" class="form-control col-12" placeholder="Search" name='q'>
            {{/if}}
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit">
                <span class="img-search"></span>
              </button>
            </span>
          </div>
        </form>
      </div>
      <!-- disappears the menu items and adds a hamburger menu.
           appears only on sm and smaller screens -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="p-2 text-dark nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="p-2 text-dark nav-link" href="/resources">Resources</a>
            </li>
            <li class="nav-item">
              <a class="p-2 text-dark nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="p-2 text-dark nav-link" href="/browse">Browse</a>
            </li>
            
          </ul>
        </div>
    </nav>
</header>

<body>

      {{{body}}}
    </div>
  </body>
</body>
</html>
