{{#if searchResult}}
    {{#each searchResult}}
        <h1>{{this.cat1}} -> {{this.cat2}} -> {{this.cat3}} -> pg{{this.pg}}</h1>
        <div class="srItem w-100">
        <h3>{{title}}</h3>
        </div>
        {{{this.bodyhtml}}}
    {{/each}}
{{else}}
No results :c
{{/if}}