{{!-- used as a viewer for wt documents --}}
<div id="breadcrumbsBar" class="bg-light border-bottom box-shadow">
  <div class="wrapper">
    <div class="col-12 col-md-12 col-xl-10" id='breadcrumbsBarCentering'>
        <h4 class="font-weight-bold breadcrumsElement"><small>{{searchResult.0.cat1}} &#8594; {{searchResult.0.cat2}} &#8594; {{searchResult.0.cat3}} &#8594; pg{{searchResult.0.pg}}</small></h4>

        <div class="breadcrumsElement settings float-right">
            <div class="btn-group">
                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Layout
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <button class="dropdown-item" type="button" onclick="location.href='?v=pdf'">PDF</button>
                    <button class="dropdown-item" type="button" onclick="location.href='?v=txt'">1 Column</button>
                    <button class="dropdown-item" type="button" onclick="location.href='?v=html'">2 Columns</button>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
<div class="wrapper">
  
  <div class="col-12 col-md-12 col-xl-10" id='body'>
    <div id="docViewer">
        {{#if searchResult.0.bodytxt}}
            {{{searchResult.0.bodytxt}}}
        {{/if}}
        {{#if searchResult.0.bodyhtml}}
            {{{searchResult.0.bodyhtml}}}
        {{/if}}
        {{#if searchResult.0.bodypdf}}
            <object data="/pub/{{searchResult.0.bodypdf}}" type="application/pdf" width="100%" height="800px">
            <p>PDF not found :c</p>
            </object>
        {{/if}}
    </div>

    <p>{{urlSettings}}</p>

  </div>
</div>
<script>
    // gets all url parameters , returns an object, check out: https://www.sitepoint.com/get-url-parameters-with-javascript/
    // retrieve data like: getAllUrlParams().q 
    function getAllUrlParams(url) {

    // get query string from url (optional) or window
    var queryString = url ? url.split('?')[1] : window.location.search.slice(1);

    // we'll store the parameters here
    var obj = {};

    // if query string exists
    if (queryString) {

        // stuff after # is not part of query string, so get rid of it
        queryString = queryString.split('#')[0];

        // split our query string into its component parts
        var arr = queryString.split('&');

        for (var i = 0; i < arr.length; i++) {
        // separate the keys and the values
        var a = arr[i].split('=');

        // set parameter name and value (use 'true' if empty)
        var paramName = a[0];
        var paramValue = typeof (a[1]) === 'undefined' ? true : a[1];

        // (optional) keep case consistent
        paramName = paramName.toLowerCase();
        if (typeof paramValue === 'string') paramValue = paramValue.toLowerCase();

        // if the paramName ends with square brackets, e.g. colors[] or colors[2]
        if (paramName.match(/\[(\d+)?\]$/)) {

            // create key if it doesn't exist
            var key = paramName.replace(/\[(\d+)?\]/, '');
            if (!obj[key]) obj[key] = [];

            // if it's an indexed array e.g. colors[2]
            if (paramName.match(/\[\d+\]$/)) {
            // get the index value and add the entry at the appropriate position
            var index = /\[(\d+)\]/.exec(paramName)[1];
            obj[key][index] = paramValue;
            } else {
            // otherwise add the value to the end of the array
            obj[key].push(paramValue);
            }
        } else {
            // we're dealing with a string
            if (!obj[paramName]) {
            // if it doesn't exist, create property
            obj[paramName] = paramValue;
            } else if (obj[paramName] && typeof obj[paramName] === 'string'){
            // if property does exist and it's a string, convert it to an array
            obj[paramName] = [obj[paramName]];
            obj[paramName].push(paramValue);
            } else {
            // otherwise add the property
            obj[paramName].push(paramValue);
            }
        }
        }
    }

    return obj;
    }
    function highlight(text) {
        var tmpregexPhrase = ''; //holds phrase to highlight keywords
        //clean parentheses and other odd characters
        query = decodeURIComponent(text);      //converts to readable text
        query = query.split('+')                //splits into individual words
        
        //attempts to highlight using markio
        var context = document.querySelector("#docViewer")
        var instance = new Mark(context);

        //iterates through each search word
        for(let i = 0; i < query.length; i++){
            query[i] = query[i].replace(/\W/g, '');
            if(i == 0) tmpregexPhrase += '[a-z]*' + query[i] + '[a-z]*';
            if(i > 0 ) tmpregexPhrase += '|[a-z]*' + query[i] + '[a-z]*';
        }
        tmpregexPhrase += ''
        var regexPhrase = new RegExp(tmpregexPhrase)
        instance.markRegExp(regexPhrase);
        
    }
    function addquerytoSearchbox(query) {
        // adds query to searchbox so that it is not empty
        var x = document.getElementById('searchbarHeader');
        query = decodeURIComponent(query);      //converts to readable text
        query = query.replace(/[^a-zA-z0-9 ]/g, ' ');
        console.log(query)
        x.value = query 
    }
    let urlParams = getAllUrlParams(window.location.href);
    console.log(window.location)
    
    document.addEventListener('DOMContentLoaded', highlight(urlParams.q), false);
    document.addEventListener('DOMContentLoaded', addquerytoSearchbox(urlParams.q), false);

</script>