<h2>{{title}}</h2>
<div class="searchResultsContainer col-xs-12 col-sm-12 col-md-7 excerpet">
  {{#each searchResult}}
    <div class="srItem">
      <h4>{{this.cat1}} -> {{this.cat2}} -> {{this.cat3}} -> pg{{this.pg}} </h4>
      ... {{this.ts_headline}} ...
    </div>
  {{/each}}
</div>

