<h2>{{title}}</h2>
<div class="searchResultsContainer w-100 col-xs-12 col-sm-12 excerpet">
  {{#if searchResult}}
    {{#each searchResult}}
      <div class="srItem w-100">
        <h3><a href="#">{{this.cat1}} -> {{this.cat2}} -> {{this.cat3}} -> pg{{this.pg}} </a></h3>
        <p>... {{this.ts_headline}} ...</p>
      </div>
    {{/each}}
  {{else}}
    No results :c
  {{/if}}
</div>
{{#if searchResult}}
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
{{/if}}

